body {
  font-family: Tahoma;
  background-color: yellow;
  width:100%;
}

h1, p {
  text-align:center;
}

h1 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}

p{
  font-size: 15px;
  font-style: italic;
}

fieldset {
  border: 30px;
  padding:10px;
  border-bottom: 10px solid yellow;
}


label {
  display: block;
  margin: 0.5rem 0;
}


input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

.inline {
  display: inline-block;
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

input[type="submit"] {
  display: block;
  width: 5%;
  margin: 1em auto;
  height: 0;
  font-size: 1.1rem;
  border-color: white;
  min-width: 300px;
}

input[type="checkbox"]{
  margin:0;
}